@import url('https://fonts.googleapis.com/css2? family= Acme & family= Anton & family= Bebas+Neue & family= Carter+One & family= Comfortaa:wght@700 & family= Courgette & family= François+One & family= Fredoka+One & family= Gloria+Hallelujah & family= Indie+Flor & family= Lagosta+Two:ital@1 & family= Martel:wght@700 & family= Miau+Script &family= Orelega+One & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Acme & family= Anton & family= Bebas+Neue & family= Carter+One & family= Comfortaa:wght@700 & family= Courgette & family= François+One & family= Fredoka+One & family= Gloria+Hallelujah & family= Indie+Flor & family= Lagosta+Two:ital@1 & family= Martel:wght@700 & family= Miau+Script &family= Oleo+Script:wght@700 & family= Orelega+One & family= Poiret+One &family= Alga+Script & display=swap');

* {
    margin: 8px;
    padding: 8px;
   

}
.imagem img {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
    max-width: 1100px;
    
}
header {
    text-align: center;
    border: 1px 1px 1px 1px solid #f3cdcd;
    padding: 26px;
    border-radius: 16px;
    box-shadow: 0px 1px 12px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.h1 {
    font-family: "Lobster Two";
    width: 150px;
    height: 150px;

}
.p {
    font-family: "Seaweed Script";

}
.button {
     background-color: transparent;
     border-color: #272262;
     color: #272262;
     padding: 3px;
     margin-top: 6px;
     border-radius: 8px;
     cursor: pointer;
    
    }
.button:hover{
    background-color: #272262;
    color:#fff
}


.content {
    margin-top: 26px;
    display: inline-block;
    padding: 86px;
}

.post-image {
    height: 185px;
}

.post-image img {
    width: 95%;
    height: 95%;
    object-fit: cover;
}

.post-title {
    font-weight: 600;
    display: flex;
    margin: 8px;
    padding: 3px;
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
}

header > * {
    margin-top: 16px;
    width: 600px;
}

/*  MOBILE */
@media (max-width: 600px) {
    header > * {
        width: auto;
    }
}

.container {
    max-width: 1099px;
    margin: auto;
    padding: 24px;
    width: 1120px;
}

.picture {
    width: 99px;
    height: 94px;
    background-color: black;
    margin: auto;
    border-radius: 96%;
    overflow: hidden;
}

.picture img {
    background-color: blue;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-weight: 900;
}

.bio {
    font-size: 23px;
}


.actions {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: 25px auto 0 auto;
}

.actions {
        display: flex;
        flex-direction: column;
        max-width: 600px;
        margin: 25px auto 0 auto;
}

@media (max-width: 600px) {
    header > * {
        width: auto;
    }
}